<!-- Nome da empresa ou titulo do site -->
<div class="brand" >
</div>



<div ng-init="myVar = 'img/facebook_icon.jpg'"></div>

<!-- Endereço da empresa ou subtitulo do site -->

<!-- Navigation -->
<nav class=" navbar-btn navbar-text navbar-fixed-top >




        <!-- nossos menu -->
        <div class="collapse navbar-collapse id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav  navbar navbar-top"  >
                <!-- cada linha é um item do menu -->
                <li><img class="img-responsive img-rounded  "  src="img/logo.jpg" width="180" height="100" alt=""></li>
                <li><a href="#/"> <h3>Home </h3> </a> </li>
                <li><a href="#/servicos " ><h3>Produtos </h3></a></li>
                <li><a href="#/sobre"><h3>Sobre</h3></a></li>
                <li><a href="#/contato"><h3>Contato</h3></a></li>
                <li><a ng-href="https://www.facebook.com/Lifesucosjundiairegiao/{{hash}}"><img ng-src="{{myVar}}" class="img-responsive  img-rounded" width="150" height="100"alt="" /></a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>