 <div class="row">
      <div class="box">
          <div class="col-lg-12">
              <hr>
              <h2 class="intro-text text-center">
                  <h2 class="intro-text text-center">Suco de laranja Life<br><br><span>Suco 100% Integral Pronto para Beber</span></h2>
              </h2>
              <hr>
              <img class="img-responsive img-border img-left" src="img/banner6.jpg" width="580" height="100"alt="">
              <hr class="visible-xs">
              <p class="verde" style="font-size:18px;"><br>
                  O suco de laranja LIFE é classificado na Categoria SUCO INTEGRAL. Isso quer dizer que não contém adição de conservante, açúcares e água, ou seja,
                  um produto 100% integral, composto única e exclusivamente por fruta in natura.<br>
          </div>
      </div>
  </div>


<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Life Sucos
                <strong>Laranja da Fazenda</strong>
            </h2>
            <hr>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive" src="img/laranja2.jpg" alt="">
            <h3>Laranjas Selecionas
            </h3>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive" src="img/natural.jpg" width="280" height="100" alt="">
            <h3>100% Natural
            </h3>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive" src="img/fundo2.jpg " width="" height="100" alt="">
            <h3>O melhor da Laranja

            </h3>
        </div>
        <div class="clearfix"></div>
    </div>
</div>



<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                <h2 class="intro-text text-center">Suco de laranja Life</h2>
            </h2>
            <hr>
            <img class="img-responsive img-border img-left" src="img/familia.jpg" width="580" height="100"alt="">
            <hr class="visible-xs">
            <p class="verde" style="font-size:18px;"><strong><br>
                O suco de laranja minimamente processado traz inúmeros benefícios:</strong><br>
                • Preserva 70% das características originais do suco por 20 dias sob refrigeração ou 180 dias congelado.<br>
                • Vai ao encontro de uma tendência mundial de consumo, caracterizada pelo aumento da procura por produtos prontos, mais saudáveis e naturais, e com uma vida útil (shelf life) razoável para o consumidor.<br>
                • Atende às expectativas do consumidor mais exigente, que rejeita as características sensoriais dos sucos de laranja existentes no mercado.<br>


    </div>
</div>


<div class="row">
    <div class="box">
        <div class="col-lg-12" align="center">
            <hr>
            <h2 class="intro-text text-center">
                <h2 class="intro-text text-center"><strong>Todo o sabor e frescor da fruta está aqui. Viva o sabor. Viva Life!</strong></h2>


            </h2>

            <img class="img-responsive " src="img/logo.jpg" alt="">

        </div>
    </div>
</div>
</div>
</div>